MEILI_URL=http://meilisearch:7700
MEILI_KEY=your_meilisearch_master_key
MYSQL_HOST=host.docker.internal
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_DB=arsipserverdb2
PDF_BASE_PATH=/pdfs/arsip_tata
